.stickySidebar {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  will-change: min-height;
  width: 200px;
  flex-shrink: 0;
}

.sidebarInner {
  transform: translate(0, 0); /* For browsers don't support translate3d. */
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}
